<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />		
	</settings>
    
    <typeAliases>
    	<typeAlias type="com.infolab.cs.model.WorkerDto" alias="workerDto"/>
        <typeAlias alias="paramMap" type="java.util.HashMap"/>
        <typeAlias alias="resultMap" type="java.util.LinkedHashMap"/>
    </typeAliases>
    
    <mappers>
        <mapper resource="mappers/CrowdLXMapper.xml"></mapper>
    </mappers>
</configuration>